<div class="banner">
    <div class="nav-items">
        <div class="dropstart align-self-center">
            <i class=" bi bi-person-fill " style="font-size: 30px;" data-bs-toggle="dropdown" aria-expanded="false"></i>
            
            <ul class="dropdown-menu shadow">
                <li><span class="dropdown-item">Edit Profile</span></li>
                <li><span class="dropdown-item">Change Theme</span></li>
                <li><span class="dropdown-item">Logout</span></li>


            </ul>
        </div>
      
    </div>
</div>
<router-outlet></router-outlet>
