.banner{
    background-color:#3B4D63 ;
    color: #fff;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.banner >.nav-items {
    float: right;
    color: #fff;
}
.nav-items i{
    width: 100;
    height: 100;
}