<div class="_container">
    <div>Side Nav</div>
    <div class="nav-items">
        <i class="bi bi-house"></i>
    </div>
    <div class="nav-items">
        <i class="bi bi-speedometer2"></i>
    </div>
    <div class="nav-items">
        <i class="bi bi-diagram-3"></i>
    </div>
    
    <div class="nav-items">
        <i class="bi bi-receipt"></i>
    </div>
    
    <div class="nav-items">
        <i class="bi bi-upc-scan bi-2xl"></i>
    </div>

    <div class="nav-items">
        <i class="bi bi-graph-up"></i>
    </div>
</div>
