.navigation-panel{
    background-color:#3B4D63 ;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}
.navigation-panel-brand{
    height: 75px;
    line-height: 75px;
    padding-left: 2rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
}

.navigation-panel-brand,
._container >li{
    border-bottom: 1px solid #38495F ;
}
.nav-items{
    cursor: pointer;
}
._container .nav-items a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 4rem;
    cursor: pointer;
    padding-left: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
 }
._container .nav-items a i{
    margin-right: 0.5rem;
}
