<div class="navigation-panel">
    <div class="navigation-panel-brand"><span>WEMA STORES</span>
    </div>
    <ul class="_container">
        <li class="nav-items">
            <a>
                <i class="bi bi-house"></i>
                <span>Home</span>
            </a>
            
        </li>
        <li class="nav-items">
            <a>
                <i class="bi bi-speedometer2"></i>
                <span>Dashboard</span>
            </a>
            
        </li>
        <li class="nav-items">
            <a>
                <i class="bi bi-diagram-3"></i>
                <span>Products</span>
            </a>
            
        </li>
        
        <li class="nav-items">
            <a>
                <i class="bi bi-receipt"></i>
                <span>Sales</span>
            </a>
           
        </li>
        
        <li class="nav-items">
            <a>
                <i class="bi bi-upc-scan bi-2xl"></i>
                <span>Purchases</span>
            </a>
            
        </li>
    
        <li class="nav-items">
            <a>
                <i class="bi bi-graph-up"></i>
                <span>Analytics</span>
            </a>
            
        </li>
    </ul>
</div>
