<div class="_container">
    <div>Side Nav</div>
    <div class="nav-items m-3">
        <i class="bi bi-house"></i>
         <span>Home</span>
    </div>
    <div class="nav-items m-3">
        <i class="bi bi-speedometer2"></i>
         <span>Dashboard</span>
    </div>
    <div class="nav-items m-3">
        <i class="bi bi-diagram-3"></i>
         <span>Products</span>
    </div>
    
    <div class="nav-items m-3">
        <i class="bi bi-receipt"></i>
         <span>Sales</span>
    </div>
    
    <div class="nav-items m-3">
        <i class="bi bi-upc-scan bi-2xl"></i>
         <span>Purchases</span>
    </div>

    <div class="nav-items m-3">
        <i class="bi bi-graph-up"></i>
        <span>Analytics</span>
    </div>
</div>
